/* eslint-disable-next-line */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-box::-webkit-scrollbar {
  width: 0.3em;
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.rcp-hue {
  height: 12px;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );
}

.rcp-saturation {
  background-image: linear-gradient(transparent, black),
    linear-gradient(to right, white, transparent);
}
